#baoming-area
  #baoming-links
    %span 报名链接
    - @baoming_links.each do |baoming_link|
      %div
        %a{href:baoming_link.url}
          = image_tag baoming_link.cover.url(:baoming_link)
  #bulletins
    - @show_categories.each do |cateogry|
      %div
        %span
          =cateogry.title
        %ul
          - cateogry.articles.order('updated_at desc').limit(10).each do |bulletin|
            %li
              =link_to bulletin.title, "#{article_path(bulletin)}"

#friend-area
  #friend-header
    %span 友情链接
  #friend-links
    - @friend_links.each do |friend_link|
      %div
        %a{href:friend_link.url}
          = image_tag friend_link.cover.url(:friend_link)

%script#pic-list-template{type:'text/template'}
  %li.clone{:style => "float: left; width: 138px;"}
    %a{:href => "${url}", :target => "_blank"}
      %img{:alt=>'${title}',:src=>"${pic_list_src}"}
      %span ${title}
      %i

