.tebieniubi_oneleft.z
  .banner
    %ul#nav
  .tebieniubi_oneleft.z
    #diy3.area
      #frameTfZbvX.frame.move-span.cl.frame-1.moving
        #frameTfZbvX_left.column.frame-1-c
          #frameTfZbvX_left_temp.move-span.temp
      #frameyvk2S3.frame.move-span.cl.frame-1
        #frameyvk2S3_left.column.frame-1-c
          #frameyvk2S3_left_temp.move-span.temp
          #portal_block_56.block.move-span
            #portal_block_56_content.dxb_bc
              .portal_block_summary
                =image_tag 'templates/250x130.jpg'

%script#nav-tmpl{type:'text/javascript'}
  %li.mainCate{id:"mainCate-${count}", class:"${className}"}
    %h3
      %span >
      %a{:href => "${url}"} ${title}
    %p
      {{each(i, region) regions}}
      {{if i<3}}
      %a{:href => "${region.url}"} ${region.name}
      {{/if}}
      {{/each}}
    %p
      {{each(i, region) regions}}
      {{if i>=3}}
      %a{:href => "${region.url}"} ${region.name}
      {{/if}}
      {{/each}}
    .subCate
      .module.cl.xl.xl1.tebieniubi_tanchu
        %ul
          {{each(i, article) articles}}
          {{if i<15}}
          %li
            %em ${article.date}
            %a{:href => "${article.url}", :target => "_blank", :title => "${article.title}"} ${article.title}
          {{/if}}
          {{/each}}
      .module.cl.ml.tebieniubi_tanchu
        %ul
          {{each(i, article) pic_articles}}
          {{if i<6}}
          %li{:style => "width: 160px;"}
            %a{:href => "${url}", :target => "_blank"}
              %img{:alt => "${title}", :height => "100", :src => "${tanchu_cover}", :width => "160"}/
            %p
              %a{:href => "${url}", :target => "_blank", :title => "${title}"} ${title}
          {{/if}}
          {{/each}}
