.tebieniubi_oneleft.z
  .banner
    %ul#nav
  .tebieniubi_oneleft.z
    #diy3.area
      #frameTfZbvX.frame.move-span.cl.frame-1.moving
        #frameTfZbvX_left.column.frame-1-c
          #frameTfZbvX_left_temp.move-span.temp
      #frameyvk2S3.frame.move-span.cl.frame-1
        #frameyvk2S3_left.column.frame-1-c
          #frameyvk2S3_left_temp.move-span.temp
          #portal_block_56.block.move-span
            #portal_block_56_content.dxb_bc
              .portal_block_summary
                =image_tag 'templates/250x130.jpg'

%script#nav-tmpl{type:'text/javascript'}
  %li.mainCate{id:"mainCate-${count}", class:"${className}"}
    %h3
      %span >
      %a{:href => "${url}"} ${title}
    %p
      {{each(i, region) regions}}
      {{if i<3}}
      %a{:href => "${region.url}"} ${region.name}
      {{/if}}
      {{/each}}
    %p
      {{each(i, region) regions}}
      {{if i>=3}}
      %a{:href => "${region.url}"} ${region.name}
      {{/if}}
      {{/each}}
    .subCate
      .module.cl.xl.xl1.tebieniubi_tanchu
        %ul
          {{each(i, article) articles}}
          {{if i<15}}
          %li
            %em ${article.date}
            %a{:href => "${article.url}", :target => "_blank", :title => "${article.title}"} ${article.title}
          {{/if}}
          {{/each}}
      .module.cl.ml.tebieniubi_tanchu
        %ul
          %li{:style => "width: 160px;"}
            %a{:href => "forum.php?mod=viewthread&tid=25", :target => "_blank"}
              %img{:alt => "售24.88万起 新款荣威550 PLUG-IN上市", :height => "100", :src => "data/attachment/block/26/26cf47e5abea3fd7ee4b963e424c20e8.jpg", :width => "160"}/
            %p
              %a{:href => "forum.php?mod=viewthread&tid=25", :target => "_blank", :title => "售24.88万起 新款荣威550 PLUG-IN上市"} 售24.88万起 新款荣威
          %li{:style => "width: 160px;"}
            %a{:href => "forum.php?mod=viewthread&tid=366", :target => "_blank"}
              %img{:alt => "青岛旅行社", :height => "100", :src => "data/attachment/block/5c/5cada02debc56d923c010ddac5a9d980.jpg", :width => "160"}/
            %p
              %a{:href => "forum.php?mod=viewthread&tid=366", :target => "_blank", :title => "青岛旅行社"} 青岛旅行社
          %li{:style => "width: 160px;"}
            %a{:href => "forum.php?mod=viewthread&tid=91", :target => "_blank"}
              %img{:alt => "公主坟万寿路翠微路玉渊潭南路翠微西里", :height => "100", :src => "data/attachment/block/44/4493d8734e5172b3f71853cbd3865257.jpg", :width => "160"}/
            %p
              %a{:href => "forum.php?mod=viewthread&tid=91", :target => "_blank", :title => "公主坟万寿路翠微路玉渊潭南路翠微西里"} 公主坟万寿路翠微路玉
          %li{:style => "width: 160px;"}
            %a{:href => "forum.php?mod=viewthread&tid=117", :target => "_blank"}
              %img{:alt => "百合公馆", :height => "100", :src => "data/attachment/block/02/0236986e5ef123a737a23668a697b680.jpg", :width => "160"}/
            %p
              %a{:href => "forum.php?mod=viewthread&tid=117", :target => "_blank", :title => "百合公馆"} 百合公馆
          %li{:style => "width: 160px;"}
            %a{:href => "forum.php?mod=viewthread&tid=178", :target => "_blank"}
              %img{:alt => "室内婚纱照也可以很美", :height => "100", :src => "data/attachment/block/ee/ee2238053c8254d4b7155b8f180d7260.jpg", :width => "160"}/
            %p
              %a{:href => "forum.php?mod=viewthread&tid=178", :target => "_blank", :title => "室内婚纱照也可以很美"} 室内婚纱照也可以很美
          %li{:style => "width: 160px;"}
            %a{:href => "forum.php?mod=viewthread&tid=167", :target => "_blank"}
              %img{:alt => "春夏季的浪漫婚纱照拍摄点", :height => "100", :src => "data/attachment/block/92/92dc582bd5303742ad7945c75460a61e.jpg", :width => "160"}/
            %p
              %a{:href => "forum.php?mod=viewthread&tid=167", :target => "_blank", :title => "春夏季的浪漫婚纱照拍摄点"} 春夏季的浪漫婚纱照拍
