%form.form-horizontal.mgt10.ov{action:articles_path, method: 'get'}
  .col-sm-offset-3.col-sm-5
    %input.form-control{type:'text', name:'keyword', value: @keyword}
  .col-sm-1
    %button.form-control
      搜索