// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.one-list
  width: 880px
  height: 160px
  margin: 10px
  padding-top: 10px
  border-top: 1px dashed gray
.one-img
  width: 200px
  height: 140px
  float: left
  img
    width: 200px
    height: 140px

.one-info
  margin-left: 15px
  width: 665px
  float: right
  h1
    font-size: 18px
    font-weight: 500
    color: #333
    margin: 3px 0 3px 0
  p
    line-height: 28px
    font-size: 14px