#footer
  %p
    陕ICP备16013297号-1,
    由
    %strong
      %a{:href => "http://www.discuz.net", :target => "_blank"} 云汀科技
    提供支持.
    %em V6
  %p
    %a{:href => "#", :target => "_blank"}
      =image_tag 'templates/footer_ico_01.jpg'
    -#%a{:href => "#", :target => "_blank"}
      =image_tag 'templates/footer_ico_02.jpg'
    -#%a{:href => "#", :target => "_blank"}
      =image_tag 'templates/footer_ico_03.jpg'
    %a{:href => "#", :target => "_blank"}
      =image_tag 'templates/footer_ico_04.jpg'
    -#%a{:href => "#", :target => "_blank"}
      =image_tag 'templates/footer_ico_05.jpg'