#ft.footer
  .wp
    %p
      %a{:href => "#", :target => "_blank"} 网站首页
      |
      %a{:href => "#", :target => "_blank"} 关于我们
    %p
      Powered by
      %strong
        %a{:href => "http://www.discuz.net", :target => "_blank"} TBNB
      %em V6
    %p
      %a{:href => "#", :target => "_blank"}
        %img{:src => "template/paopaokeji_chengshiv2/images/footer_ico_01.jpg"}/
      %a{:href => "#", :target => "_blank"}
        %img{:src => "template/paopaokeji_chengshiv2/images/footer_ico_02.jpg"}/
      %a{:href => "#", :target => "_blank"}
        %img{:src => "template/paopaokeji_chengshiv2/images/footer_ico_03.jpg"}/
      %a{:href => "#", :target => "_blank"}
        %img{:src => "template/paopaokeji_chengshiv2/images/footer_ico_04.jpg"}/
      %a{:href => "#", :target => "_blank"}
        %img{:src => "template/paopaokeji_chengshiv2/images/footer_ico_05.jpg"}/