%head
  = render :partial => 'layouts/meta_data'
  = stylesheet_link_tag  'application', media: 'all'
  -#= stylesheet_link_tag  'print', media:'print'
  = stylesheet_link_tag  "#{controller.controller_name}"
  %title 陕西人才发展网