%head
  = render :partial => 'layouts/meta_data'
  %title 陕西人才发展网

  -#= stylesheet_link_tag 'templates/style_2_common'
  -#= stylesheet_link_tag 'templates/common'
  -#= stylesheet_link_tag 'templates/index'
  = stylesheet_link_tag  'application', media: 'all'
  = stylesheet_link_tag  "#{controller.controller_name}"
