%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no,minimal-ui", :name => "viewport"}/
%meta{:content => "telephone=no", :name => "format-detection", :searchtype => "map"}/
%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
%meta{:content => 'Xinyu', :name => 'author'}/
%meta{:content => "陕西人才发展网", :name => "keywords"}/
%meta{:content => "陕西人才发展网 ", :name => "description"}/
%meta{:content => "Xinyu", :name => "generator"}/
%meta{:content => "TBNB", :name => "copyright"}/
%meta{:content => "Yes", "http-equiv" => "MSThemeCompatible"}/
%meta{:content => "Discuz! Board", :name => "application-name"}/
-#%meta{:content => "Discuz! Board", :name => "msapplication-tooltip"}/
-#%meta{:content => "name=网站首页;action-uri=http://demo.tebieniubi.net/chengshiv2/portal.php;icon-uri=http://demo.tebieniubi.net/chengshiv2/static/image/common/portal.ico", :name => "msapplication-task"}/
-#%meta{:content => "name=交流社区;action-uri=http://demo.tebieniubi.net/chengshiv2/forum.php;icon-uri=http://demo.tebieniubi.net/chengshiv2/static/image/common/bbs.ico", :name => "msapplication-task"}/
-#%meta{:content => "name=群组;action-uri=http://demo.tebieniubi.net/chengshiv2/group.php;icon-uri=http://demo.tebieniubi.net/chengshiv2/static/image/common/group.ico", :name => "msapplication-task"}/
=csrf_meta_tags
