%meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.1, user-scalable=yes,minimal-ui", :name => "viewport"}/
%meta{:content => "telephone=no", :name => "format-detection", :searchtype => "map"}/
%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
%meta{:content => 'Xinyu', :name => 'author'}/
%meta{:content => "陕西 人才发展 创新人才", :name => "keywords"}/
%meta{:content => "陕西人才发展网 ", :name => "description"}/
%meta{:content => "Xinyu", :name => "generator"}/
%meta{:content => "TBNB", :name => "copyright"}/
%meta{:content => "Yes", "http-equiv" => "MSThemeCompatible"}/
%meta{:content => "陕西人才发展网", :name => "application-name"}/
=csrf_meta_tags
